.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.custom-footer {
  /* padding: 0.5rem 1rem;  */
  /* Adjust padding as needed */
  height: 1.5rem;
  font-size: small; /* Ensure height is adjusted based on content */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  border-color:rgb(33,150,243);
  background-color:white;
  color: rgb(33,150,243);
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 15px;
  /* border-radius: 25px 25px 2px 25px;  */
  border-radius: 0;
}

.button:hover {
  background-color: rgb(105, 180, 242);
  color:white;
  transform: scale(1.01); 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.quickReplies__button {
  border-radius: 16px 16px 2px 16px; /* Simplified border radius */
  align-self: flex-end; /* Align to the end of the container */
  border: 1px solid; /* Border style and width */
  box-sizing: content-box; /* Ensure padding doesn't affect size */
  display: flex; /* Flexbox for layout */
  flex-shrink: 0; /* Prevent shrinking */
  font-size: 15px; /* Text size */
  margin-bottom: 8px; /* Space below the button */
  max-width: 260px; /* Maximum width */
  min-width: fit-content; /* Ensure width adjusts to content */
  outline: none; /* Remove outline on focus */
  padding: 9px 15px 10px; /* Padding inside the button */
  /* text-align: left;  */
  border-color:rgb(0, 115, 209);
color: rgb(0, 115, 209);
}
.right-aligned {
  display: flex;
  justify-content: flex-end;
}